* {
    font-family: monospace;
    overflow: hidden;
}

h1 {
    font-size: 35px;
    text-align: center;
}

.column1 {
    height: 500px;
    width: 250px;
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 2%;
    position: absolute;
    left: 15%;
    top: 15%;
    transform: translate(15%);
}

.column2 {
    height: 500px;
    width: 250px;
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 2%;
    position: absolute;
    right: 15%;
    top: 15%;
    transform: translate(-15%);
}

.column3 {
    height: 500px;
    width: 250px;
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 2%;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%);
}

button {
    position: relative;
    margin-top: 20px;
    border-radius: 3%;
    border: 1px solid black;
    width: 240px;
    height: 50px;
    left: 5px;
    font-size: 14px;
}

button:hover {
    background-color: rgb(230, 223, 223);
}

.credit {
    position: absolute;
    bottom: 0px;
    right: 5px;
    font-size: 8px;
}

a:link, a:visited {
    color: yellowgreen;
    text-decoration: none;
}